<div class="content d-flex justify-content-center">
    <form class="w-50 mt-10">
        <img class="mt-10 mb-4 rounded mx-auto d-block" src="../assets/logo.png" alt="" width="50" height="50">
        <h1 class="h3 mb-3 text-center fw-normal">Înregistrare parteneri</h1>

        <div class="form-floating mb-2">
            <input type="email" [class]="errors.email ? 'form-control is-invalid' : 'form-control' " id="floatingInput"
                (change)="onChangeEvent($event)" [(ngModel)]="user.email" name="email" placeholder="name@example.com"
                required>
            <label for="floatingInput">Email</label>

            <div *ngIf="errors.email" class="invalid-feedback px-3 py-2 ">
                {{errors.email}}</div>

        </div>
        <div class="form-floating mb-2">
            <input type="password" [class]="errors.password ? 'form-control is-invalid' : 'form-control' "
                id="floatingPassword" (change)="onChangeEvent($event)" [(ngModel)]="user.password" name="password"
                placeholder="******" required>
            <label for="floatingPassword">Parolă</label>
            <div *ngIf="errors.password" class="invalid-feedback px-3 py-2 ">
                {{errors.password}}</div>
        </div>
        <div class="form-floating mb-2">
            <input type="password" [class]="errors.rePassword ? 'form-control is-invalid' : 'form-control' "
                id="floatingPassword" placeholder="*******" (change)="onChangeEvent($event)" [(ngModel)]="rePassword"
                name="rePassword" required>
            <label for="floatingPassword">Reintroduceți parola</label>
            <div *ngIf="errors.rePassword" class="invalid-feedback px-3 py-2 ">
                {{errors.rePassword}}</div>
            <div *ngIf="registerError" class="invalid-feedback px-3 py-2 ">
                {{registerError}}</div>
        </div>

        <button (click)="onFormSubmitted()" [disabled]="cannotBeSubmitted"
            [class]="cannotBeSubmitted ? 'btn btn-lg btn-secondary w-100' : 'btn btn-lg btn-primary w-100'">
            Înregistrare
        </button>

    </form>
</div>